  @font-face {
    font-family: 'GothamBook';
    src: url('./assets/fonts/GothamBook.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GothamBook';
    src: url('./assets/fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
  }



